@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  color: #ffffff;
}
.nav-links{
  list-style: none;
}
.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9
}

button{
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 20px;
}
button:hover{
    background-color: rgba(0,136,169,0.8);
}
.h1-text{
  align-items: center;
  box-align: center;
  color: #0082e6;
  margin-center: auto;
  font-size: 40px;
}
.gui-a{
  background: #0082e6;
  color: #2c3e50;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 2000px;
}
hr{
  margin-top: 25px;
}